/*------------------------------------*\
    $Import Bourbon and Neat
\*------------------------------------*/
@import '../bourbon/bourbon';
@import '../neat/neat';

/*------------------------------------*\
    $Colors - Option 1
\*------------------------------------*/
$caris: #6C7479;
$lesi: #B2C0CD;
$imdur: #F9F9F9;
$nuetral: #D7D4C7;

/*------------------------------------*\
    $Colors - Option 2
\*------------------------------------*/
$dasu: #585858;
$blanc: #FCFCF5;
$chesire: #D3D8C4;
$nenk: #BBC0A9;
$crunch: #383A37;

/*------------------------------------*\
    $Colors - Option 3
\*------------------------------------*/
$c: #71130F;

/*------------------------------------*\
    $Basic styles
\*------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background: $blanc;
	background-size: cover;
	border-top: 2px solid $c;
}