@import '../bourbon/bourbon';
@import '../neat/neat';

* {
  margin: 0;
  padding: 0;
}

.container {
  background: tomato;
  @include outer-container;
  padding: 20px;
}

.hero-unit {
  @include span-columns(6);
}