
/*------------------------------------*\
    $Colors - Option 1
\*------------------------------------*/
$caris: #6C7479;
$lesi: #B2C0CD;
$imdur: #F9F9F9;
$nuetral: #D7D4C7;

/*------------------------------------*\
    $Colors - Option 2
\*------------------------------------*/
$dasu: #585858;
$blanc: #FCFCF5;
$chesire: #D3D8C4;
$nenk: #BBC0A9;
$crunch: #383A37;

/*------------------------------------*\
    $Colors - Option 3
\*------------------------------------*/
$c: #71130F;

/*------------------------------------*\
    $Colors - Option 4
\*------------------------------------*/
$eggsu: #3e4651;
$owlles: #f1654c;
$shore: #00b5b5;
$ff: #ffffff;
$ellie: #d4d4d4;

/*------------------------------------*\
    $Colors - Flat UI
\*------------------------------------*/
$turquoise: #1abc9c;
$gsea: #16a085;
$emerald: #2ecc71;
$neph: #27ae60;
$river: #3498db;
$hole: #2980b9;
$ameth: #9b59b6;
$wister: #8e44ad;
$asphalt: #34495e;
$midnightblue: #2c3e50;
