/*------------------------------------*\
    $Main
\*------------------------------------*/

.main {
  min-height: 100%;
  margin-bottom: -400px;
  &:after {
    content: "";
    display: block;
  }
}

.main-footer, .main:after {
  height: 400px;
}

.main-footer {
  background: $eggsu;
  margin-top: 50px;
}
.wrap {
  @include outer-container;
}

.main-header {
  height: 170px;
}

.main-header-content {
  @include outer-container;
  a {
    text-decoration: none;
    color: $caris;
  }
}

.logo {
  text-align: center;
}

.main-menu {
  @include span-columns(12);
  text-align: center;
  li {
    list-style: none;
    display: inline;
    margin: 0 40px;
    text-transform: uppercase;
    a {
      &:hover {
        color: $shore;
        -webkit-transition: color .3s ease;
        -moz-transition: color .3s ease;
        -ms-transition: color .3s ease;
        -o-transition: color .3s ease;
        transition: color .3s ease;
      }
    }
  }
}

.main-content {
  min-height: 100%;
}

.home-slide {
  background: $crunch;
  padding: 20px 0;
}

.home-slide-content {
  @include outer-container;
  background: $dasu;
  height: 450px;
}

.posts {
  margin-top: 40px;
  @include outer-container;
}

.post {
  background: $nuetral;
  color: $crunch;
  padding: 20px;
  @include span-columns(4);
  @include media(min-width em(320) max-width em(800)) {
    @include span-columns(12);
    margin: 20px 0;
  }
}

.post-title {
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.info-container {
  background: $crunch;
  color: $blanc;
  margin-top: 100px;
  padding: 20px;
  @include outer-container;
}

.infos {
  @include span-columns(3);
  @include media(min-width em(320) max-width em(800)) {
    @include span-columns(12);
  }
}