.main {
  min-height: 100%;
  margin-bottom: -400px;
  &:after {
    content: "";
    display: block;
  }
}

.main-footer, .main:after {
  height: 400px;
}

.main-footer {
  background: $dasu;
  margin-top: 50px;
}
.wrap {
  @include outer-container;
}

.main-header {
}

.main-header-content {
  @include outer-container;
  a {
    text-decoration: none;
    color: $caris;
  }
}

.logo {
  text-align: center;
}

.main-menu {
  @include span-columns(12);
  text-align: center;
  li {
    list-style: none;
    display: inline;
  }
}

.main-content {
  min-height: 100%;
  margin: 50px 0 0 0;
}

.home-slide {
  background: $crunch;
  padding: 20px 0;
}

.home-slide-content {
  @include outer-container;
  background: $dasu;
  height: 450px;
}

.posts {
  margin-top: 40px;
  @include outer-container;
}

.post {
  background: $crunch;
  color: $blanc;
  padding: 20px;
  @include span-columns(4);
  @include media(min-width 320px max-width 800px) {
    @include span-columns(12);
  }
}

.info-container {
  margin-top: 100px;
  @include outer-container;
}

.infos {
  @include span-columns(3);
  @include media(min-width 320px max-width 800px) {
    @include span-columns(12);
  }
}